[submodule "core/client"]
	path = core/client
	url = git@github.com:shangbo/soul-admin.git
[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git@github.com:shangbo/soul-casper.git
